.Page {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  min-height: 100dvh;
}

.Page #section2 {
  margin-top: 5rem;
  background-color: black;
  width: 80vw;
}

.Page .row {
  min-height: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 5rem;
  justify-self: right;
}

.Page img {
  height: auto;
  width: 7rem;
  border-radius: 20px;
  justify-self: right;
  align-self: end;
  grid-column: 1;
}

.App[data-theme="dark"] .icon {
  filter: brightness(1);
}

.App[data-theme="light"] .icon {
  filter: brightness(.25);
}

.Page div {
  text-align: left;



}

.Page li {
  text-align: left;
}

.Page h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: left;
}

.Page h1 span, 
.Page h2 {
  font-size: 1.5rem;
}

.Page h2 {
  text-align: left;
  margin-bottom: .75rem;
}

.Page ul {
  margin-bottom: 2.5rem;
}

.ThemeMenu {
  position: fixed;
  border-radius: 20px;
  bottom: 10%;
  right: 7%;
  border: 1px solid var(--gray);
}

.App[data-theme="dark"] .ThemeMenu {
  background-color: var(--off-black);
}

.App[data-theme="light"] .ThemeMenu {
  background-color: var(--light-gray);
}

.ThemeMenu img {
  margin: 1rem;
  height: 2rem;
  width: auto;
}
