main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

main .row {
  min-height: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3.5rem;
}

main img {
  height: auto;
  width: 7rem;
  border-radius: 20px;
  justify-self: right;
  grid-column: 1;
}

.App[data-theme="dark"] .icon {
  filter: brightness(1);
}

.App[data-theme="light"] .icon {
  filter: brightness(.25);
}

main .row div {
  text-align: left;
  padding-left: 1rem;
  grid-column: 2;
}

main li {
  text-align: left;
}

main h1 {
  margin-bottom: 2rem;
}

main h2 {
  margin-bottom: .75rem;
}

.ThemeMenu {
  position: fixed;
  border-radius: 20px;
  bottom: 10%;
  right: 7%;
  border: 1px solid var(--gray);
}

.App[data-theme="dark"] .ThemeMenu {
  background-color: var(--off-black);
}

.App[data-theme="light"] .ThemeMenu {
  background-color: var(--light-gray);
}

.ThemeMenu img {
  margin: 1rem;
  height: 2rem;
  width: auto;
}
