main {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

main .row {
  min-height: 7rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3.5rem;
}

main .row img {
  height: auto;
  width: 7rem;
  border-radius: 20px;
  justify-self: right;
  grid-column: 1;
}

main .row div {
  text-align: left;
  padding-left: 1rem;
  grid-column: 2;
}

main li {
  text-align: left;
}

main h1 {
  margin-bottom: 2rem;
}

main h2 {
  margin-bottom: .75rem;
}