* {
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  margin: 0 auto;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: left;
}

div:has(.App[data-theme="dark"]) {
  background-color: var(--off-black);
  min-height: 100vh;
}

div:has(.App[data-theme="light"]) {
  background-color: var(--light-gray);
  min-height: 100vh;
}

.App {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App[data-theme="dark"] {
  background-color: var(--dark-gray);
  color: var(--off-white);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.App[data-theme="light"] {
  background-color: var(--off-white);
  color: var(--off-black);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.contrast-section,
.non-contrast-section {
  padding: 1.5rem;
  border-radius: 20px;
}

.contrast-section {
  border: 1px solid #404040;
  padding: 1.5rem;
  border-radius: 20px;
}

.contrast-section.no-side-padding {
  padding: 1.5rem 0 !important;
}

.App[data-theme="dark"] .contrast-section {
  background-color: var(--off-black);
  color: var(--off-white);
}
.App[data-theme="light"] .contrast-section {
  background-color: var(--light-gray);
  color: var(--off-black);
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}