body {
  background-color: var(--off-black);
}

.App {
  background-color: var(--dark-gray);
  margin: 0 auto;
  max-width: 1000px;
  min-width: 500px;
  min-height: 100%;
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  text-align: center;
}
