
header a {
  color: inherit;
  padding: .25em .5em;
  cursor: pointer;
  text-decoration: none;
}

.App header a:not(.active) {
  background-color: inherit;
  border: 1px solid inherit;
}

.App header a.active {
  border: 1px solid var(--gray);
  border-radius: 12.5px;
  box-shadow: inset 1.5px 1.5px 3px black;
}

.App[data-theme="dark"] header a.active {
  background-color: var(--dark-gray);
}

.App[data-theme="light"] header a.active {
  background-color: var(--light-gray);
}

