.App-header {
  color: inherit;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  max-width: 800px;
  width: 60%;
  min-width: 400px;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: calc(10px + 2vmin);
  z-index: 50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 60px black;
  backdrop-filter: blur(10px);

}

.App-header a {
  color: inherit;
  padding: 0.25em 0.5em;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.App-header a.active {
  border-radius: 12.5px;
  box-shadow: inset 1.5px 1.5px 3px black;
}

/* Theme-specific backgrounds */
.App[data-theme='dark'] .App-header {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.App[data-theme='light'] .App-header {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.App[data-theme='dark'] .App-header a.active {
  box-shadow: inset 1.5px 1.5px 3px white;
}

.App[data-theme='light'] .App-header a.active {
  box-shadow: inset 1.5px 1.5px 3px black;
}