:root {
  --off-white: #DDDDDD;
  --off-black: #101010;
  --dark-gray: #171717;
  --gray: #404040;
}

* {
  margin: 0;
  font-size: 18px;
  color: var(--off-white);
  font-family: 'nunito sans', 'avenir', 'sans serif';
}

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}